
<div class="slider">
    <div class="Modern-Slider content-section" id="top">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Aplikacja ScrumUJ</h1>
                        <p>Poznaj zwinne metodyki wytwarzania oprogramowania w praktyce.</p>
                        <div class="white-button button">
                            <a href="#featured">Odkrywaj</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Podstawowe<br>Pojęcia</h1>
                        <p>Poznaj podstawowe pojęcia z dziedziny inżynierii oprogramowania.</p>

                        <div class="white-button button">
                            <a href="#featured">Więcej</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Metodyki<br>Zwinne</h1>
                        <p>Poznaj atuty zwinnego zarządzania projektami.</p>

                        <div class="white-button button">
                            <a href="#featured">Więcej</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</div>